@model SearchV2.Api.Uorsy.InquiryData

@{
    var count = Model.InquiryItems.Count();
    var totalPricedItems = Model.InquiryItems.Count(item => item.FormattedPrice != "POA");
    var totalUnpricedItems = count - totalPricedItems;

    var totalPricedPrice = Model.InquiryItems.Where(item => item.FormattedPrice != "POA").Select(item => int.Parse(item.FormattedPrice)).Sum();
}

<html>
<head>
    <title>UORSY Structure Search</title>
</head>
<body>
    <p>@Model.Name</p>
    <p>@Model.Institution</p>
    <p>@Model.Email</p>
    <p>@Model.Comments</p>

        @if (totalPricedItems > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Price, EUR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InquiryItems.Where(i => i.FormattedPrice != "POA"))
                {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Amount</td>
                            <td>@item.FormattedPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (totalUnpricedItems > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InquiryItems.Where(i => i.FormattedPrice == "POA"))
                {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

</body>
</html>