@using static SearchV2.Api.Uorsy.TemplateHelpers

@model SearchV2.Api.Uorsy.InquiryData

@{
    var count = Model.InquiryItems.Count();
    var totalPricedItems = Model.InquiryItems.Count(item => item.FormattedPrice != "POA");
    var totalUnpricedItems = count - totalPricedItems;

    var totalPricedPrice = Model.InquiryItems.Where(item => item.FormattedPrice != "POA").Select(item => int.Parse(item.FormattedPrice)).Sum();
}

<html>
<head>
    <title>UORSY Structure Search - your inquiry</title>
</head>
<body>
    <p>Dear customer,</p>
    <p>thank you very much for your request!</p>
    <p>We will contact you with all further details.</p>
    <p>Your request: @count products</p>

    @if (totalPricedItems > 0)
    {
        <p>Total for @totalPricedItems @FormatProducts(totalPricedItems): @totalPricedPrice EUR</p>
    }

    @if (totalUnpricedItems > 0)
    {
        <p>For @totalUnpricedItems @FormatProducts(totalUnpricedItems), price will be set by our manager since the custom amount has been chosen.</p>
    }

    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid #000; padding: 0 10px;">ID</th>
                <th style="border: 1px solid #000; padding: 0 10px;">Amount</th>
                <th style="border: 1px solid #000; padding: 0 10px;">Price, EUR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InquiryItems)
            {
                <tr>
                    <td style="border: 1px solid #000; padding: 0 10px;">@item.Id</td>
                    <td style="border: 1px solid #000; padding: 0 10px;">@item.Amount</td>
                    <td style="border: 1px solid #000; padding: 0 10px; text-align: center;">@item.FormattedPrice</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Kind regards,</p>
    <p>UORSY team.</p>
</body>
</html>